{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block content %}

<div class="flex justify-center items-center h-screen bg-gray-100">
    <h1 class="text-4xl font-bold text-blue-500">Forex Bitcoin Converter</h1>
</div>
<div class="flex justify-center items-center h-screen bg-gray-100">
    <h2 class="text-2.5xl font-bold text-blue-500">
        Instructions:
    </h2>
        <h3 class="text-xl font-bold text-blue-500">
            Enter the currency code below into the input and submit to see the current Bitcoin price
        </h3>    
<div>
<div>
   <form action="/" method="post">
        <label for="user_curr">
            <input 
            id="user_curr"
            type="text" 
            name="currency" 
            placeholder="USD"
            >Currency:
        </label><br>
        <button
            class="button"
            type="submit"
            >Submit!
        </button>
   </form>
</div>


{% endblock content %}